{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <article class="w-75 m-auto">
            <h1>Movie form</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Send</button>
            {{ form_end(form) }}
        </article>
    </div>
{% endblock %}
